<%= form_with(model: maintainer) do |form| %>
  <% if maintainer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(maintainer.errors.count, "error") %> prohibited this maintainer from being saved:</h2>

      <ul>
        <% maintainer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :references %>
    <%= form.text_field :references %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
