<p id="notice"><%= notice %></p>

<h1>Maintainers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>References</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maintainers.each do |maintainer| %>
      <tr>
        <td><%= maintainer.name %></td>
        <td><%= maintainer.references %></td>
        <td><%= link_to 'Show', maintainer %></td>
        <td><%= link_to 'Edit', edit_maintainer_path(maintainer) %></td>
        <td><%= link_to 'Destroy', maintainer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Maintainer', new_maintainer_path %>
