<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contributor.name %>
</p>

<p>
  <strong>Repository:</strong>
  <%= @contributor.repository_id %>
</p>

<%= link_to 'Edit', edit_contributor_path(@contributor) %> |
<%= link_to 'Back', contributors_path %>
